*{
    box-sizing: border-box;
}

body,
html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}
body {
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.container{
    max-width: rem(940px);
    margin: 0 auto;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;

}

li {
    list-style: none;
}

ul,
ol{
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.footer{
    height: rem(110px);
    overflow: hidden;
    margin-top: (-110px);
}

.fa-check,
.fa-times,
.fa-pencil,
.fa-check{
    font-size: 22px;
    cursor: pointer;
}
