.aside{
  background-color: $white;
  padding-top: 55px;

  @include tablets{
    padding-top: 35px;
  }
}

.aside-content__title{
  font-family: 'PT Sans Bold';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aside-content-list__item{
  font-family: 'PT Sans Bold';
  list-style: decimal;
  font-size: 24px;
  margin: 0 0 16px 23px;
}

.aside-content-list__item--text{
  display: inline-block;

  &:first-child{
    padding-right: 35px;
  }

  &:last-child{
    padding-left: 25px;
  }
}



.aside-content__input{
  padding: 9px 0;
  width: rem(535px);
  border: 1px solid $black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px  10px -2px  $black;
  -moz-box-shadow: inset 0px 1px  10px -2px  $black;
  box-shadow: inset 0px 1px  10px -2px  $black;
  margin: 10px 28px 100px 0;

  &:focus{
    border: 1px solid $orange
  }

  @include tablets{
    width: rem(350px);
    margin-bottom: 50px;
  }

  @include phones{
    width: rem(250px);
  }
}

.fa-check-margin{
  margin-left: 15px;
}