.content{
  margin: 0 auto;
  padding-top: 42px;

  @include tablets{
    padding-top: 20px;
  }
}

.content-list{
  font-size: 12px;
  margin: 0 0 64px 2px;
  letter-spacing: -0.5px;

  @include tablets{
    margin: 0 0 22px 60px;
  }

  @include phones{
    margin-left: 0;
  }
}

.content-list__item{
  @include inlineblock();

  &:not(:last-child):after{
    content: ' /';
  }

  /*&:last-child a{
    color: #000000;
  }*/
}

.content-list__item--link{
  color: $yellow;

  &:hover{
    color: #000000;
  }
}

.content-accordion{
  @extend %clearfix;
  border-bottom: 2px solid $gray;
  margin-bottom: 42px;
}

.content-accordion__left{
  float: left;
  margin-right: 28px;
  margin-bottom: 40px;

  @include tablets{
    float: none;
    text-align: center;
    margin: 0 0 15px 0;
  }

  @include phones{
    width: 100%;
  }
}

.content-accordion__right{
  float: left;

  @include tablets{
    float: none;
    margin: 0 auto;
    width: 70%;
  }

  @include phones{
    width: 80%;

  }
}

.content-accordion__right--title{
  font-family: "PT Sans Bold";
  font-size: 20px;
  font-weight:700;
  position: relative;
  top: -7px;
  letter-spacing: -0.2px;
  margin-bottom: 25px;
}

.accordion-form__characteristics{
  position: relative;
  font-family: 'PT Sans Bold';
  font-size: 12px;
  padding: 0 0 5px 17px;
  width: rem(615px);
  margin-bottom: 33px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 1px  #cdcdcd;
  -moz-box-shadow: 2px 2px 2px 1px  #cdcdcd;
  box-shadow: 2px 2px 2px 1px  #cdcdcd;

  &:after{
    content: '';
    position: absolute;
    right: 17px;
    top: 20%;
    width: 21px;
    height: 21px;
    background: $white url('../assets/accordion/down.png');
  }

  &:hover{
    cursor: pointer;
  }

  &--active:after{
    content: '';
    position: absolute;
    right: 17px;
    top: 20%;
    width: 21px;
    height: 21px;
    background: $white url('../assets/accordion/up.png');
  }

  @include laptop{
    width: rem(350px);
  }
}



.accordion-form-field{
  margin-bottom: 21px;
  position: relative;
}

.accordion-form-field__input{


  &[type="checkbox"]{
    display: none;

    &:checked + label:before{
      content: '';
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: black;
      top: 4px;
      left: 4px;
    }
  }
}

.accordion-form-field__label{
  margin-left: 50px;

  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    border: 2px solid $black;
  }
}

.accordion-form__info{
  position: relative;
  font-family: 'PT Sans Bold';
  font-size: 12px;
  padding: 0 0 5px 17px;
  width: rem(615px);
  margin: 38px 0 10px 0;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 1px  #cdcdcd;
  -moz-box-shadow: 2px 2px 5px 1px  #cdcdcd;
  box-shadow: 2px 2px 5px 1px  #cdcdcd;

  &:after{
    content: '';
    position: absolute;
    right: 17px;
    top: 20%;
    width: 21px;
    height: 21px;
    background: $white url('../assets/accordion/up.png');
  }

  &:hover{
    cursor: pointer;
  }

  &--active:after{
    content: '';
    position: absolute;
    right: 17px;
    top: 20%;
    width: 21px;
    height: 21px;
    background: $white url('../assets/accordion/down.png');
  }

  @include laptop{
    width: rem(350px);
  }
}

.accordion-form__info--desc{
  width: rem(615px);

  @include laptop{
    width: rem(350px);
  }
}

.accordion-form__order--result{
  font-family:'PT Sans Bold';
  font-size: 24px;
}

.ccordion-form__order--submit{
  position: relative;
  border:0;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: $orange;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 1px #bbbbbb;
  -moz-box-shadow: 2px 2px 2px 1px #bbbbbb;
  box-shadow: 2px 2px 2px 1px #bbbbbb;
  padding: 10px 40px;
  margin: 10px 0 42px 48px;
  top: -2px;

  &:hover{
    background-color: darken($orange, 10%);
    color: $white;
  }

  &:active{
    -webkit-box-shadow: inset 2px 2px 2px  $black;
    -moz-box-shadow: inset 2px 2px 2px  $black;
    box-shadow: inset 2px 2px 2px  $black;
  }
}

.content-services{
  background-color: $orange;
}

.content-service__title{
  font-family: "PT Sans Bold";
  font-size: 12px;
  background-color: $white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.content-services-list{
  margin: 48px 0 0 0;
  @extend %clearfix;
}

.content-services-list__item{
  float: left;
  width: rem(455px);
  @extend %clearfix;

  &:nth-child(2n){
    margin-left: 30px;
  }

  &:nth-child(n + 3){
    margin-top: 16px;
  }

  @include laptop{
    width: rem(370px);

    &:nth-child(2n){
      margin-left: 0px;
    }

    &:nth-child(n + 3){
      margin-top: 25px;
    }
  }

  @include tablets{
    float: none;
    width: 100%;

    &:nth-child(n){
      margin: 0;
    }
  }

  @include phones{
    text-align: center;
  }

}

.content-services-list__picture{
  float: left;
  margin: 0 48px 50px 2px;

  @include laptop{
    margin-right: 20px;
  }

  @include tablets{
    margin-bottom: 20px;
  }

  @include phones{
    float: none;
    width: 100%;
    margin-bottom: 5px;
  }
}

.content-services-list__description{
  width: rem(235px);
  float: left;

  &--title{
    font-family: "PT Sans Bold";
    font-size: 20px;
    text-transform: uppercase;
    margin: 3px 0 20px 0;
    letter-spacing:-0.5px;

    @include laptop{
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &--text{
    font-size: 14px;
    line-height: 24px;

    @include laptop{
      line-height: 1.42;
    }

    @include phones{
      margin-bottom: 30px;
    }
  }

  @include laptop{
    width: rem(150px);
  }

  @include tablets{
    width: 55%;
  }

  @include phones{
    float: none;
    margin: 0 auto;
  }
}