.footer-page{
  background-color: #000000;
}

.footer-page-content{
  @extend %clearfix;
}
.footer-page-content__logo,
.footer-page-content-list{
  float: left;
}

.footer-page-content__logo{
  margin: 30px 0 25px 1px;
  width: 27%;

  @include laptop{
    width: 25%;
  }

  @include tablets{
    width: 35%;
  }

}

.footer-page-content-list{
  width: 40%;
  margin-top: 29px;

  @include laptop{
    width: 50%;
  }

  @include tablets{
    display: none;

  }

}

.footer-page-content-list__item{
  @include inlineblock();
  position: relative;
  padding: 0 27px 0 0;
  font-size: 14px;
  line-height: 30px;


  &--link{
    color: $gray;

    &:hover{
      color: lighten($gray, 30%);

      &:before{
        content: "\003E";
        color: $orange;
        position: absolute;
        left: -15px;

      }
    }
  }
}

.footer-page-content__copyright{
  position: relative;
  font-size: 13px;
  color: #d3d3d3;
  float: right;
  width: 32%;
  text-align: right;
  margin-top: 15px;
  line-height: 40px;

  @include laptop{
    width: 24%;
  }

  @include tablets{
    width: 60%;
  }
}

.footer-page-content__copyright--text{
  position: absolute;
  right: 0;
  top: 0;
}

.footer-page-content__copyright--link{
  color: $white;
  text-decoration: underline;
  letter-spacing: -0.5px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    background: url(../assets/logo3.png) no-repeat 0 0 ;
    width: 20px;
    height: 20px;
    left: -42px;
    top: -1px;
  }

  &:hover{
    color: darken($white, 20%);
  }
}