.header-page{
  background-color: $orange;
}

.header-page-content{
  @extend %clearfix;
  padding: 15px 0 15px 0;
}

.header-page-content__left{
  float: left;
  width: 75%;
}

.header-page-content__right{
  float: right;
  width: 25%;
  margin-top: 11px;
  line-height:1.2;
  font-size: 14.5px;
  text-align: right;
  position: relative;

  @include tablets{

  }
}
.header-page-content__contacts--dispNone{

  @include tablets{
    display: none;
  }
}

.header-page-content__contacts--address{

  @include tablets{
    transition: all 0.5s;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    color: $white;
    background-color: $black;
    padding: 5px 10px;

  }

  @include phones{
    left: -50px;
  }
}

.header-page-content__contacts--icon{
  display: none;
  cursor: pointer;

  @include tablets{
    position: relative;
    font-size: 30px;
    display: block;

    &:hover{
      color: lighten($black, 20%);
      animation: asd 0.2s linear infinite alternate;
    }
  }
}

@keyframes asd{
  0%{transform:rotate(-1deg)}
  100%{transform:rotate(2deg)}
}