.navigation{
  background-color: $white;

  @include tablets{
    background-color: $black;
  }
}

.navigation-content{
  @extend %clearfix;
}

.navigation__logo,
.navigation-list{
  @include inlineblock(top)
}
.navigation__logo{
  padding: 8px 10px 2px 2px;

  @include tablets{
    display: none;
  }
}

.navigation-list{

  @include tablets{
    text-align: center;
    line-height: 0;

    &:after{
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
}

.navigation-list__item{
  @include inlineblock();
  text-transform: uppercase;
  font-size: 14px;
  word-spacing: 4px;
  line-height: 1.42;
  letter-spacing: -0.2px;
  padding: 17px 0 0 36px;

  @include laptop{
    padding: 15px 0 0 25px;
  }

  @include tablets{
    word-spacing: 1px;
    padding: 15px 0 0 10px;

  }

}

.navigation-list__item--link{
  color: $gray;

  &:hover{
    color: $black;
  }

  @include tablets{
    color: $white;

    &:hover{
      color: darken($white, 30%);
    }
  }
}