.slider{
  background-color: $orange;

  @include tablets{
    display: none;
  }

  @include phones{
    display: none;
  }
}


.sliderWrapper{
  width: 940px;
  height: 550px;
  margin: 0 auto;
  position: relative;

  @include laptop{
    width: 750px;
  }
}


.slider-list{
  position: absolute;
  height: 550px;
  width: 9999px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.slider-list__item{
  position: absolute;
  display: block;
  left: -490px;
  height: 550px;
  width: 940px;
  float: left;

  @include laptop{
    left: -580px;
  }

}

.slider-control{
  position: absolute;
  top: 15px;
  right: 0;
}

.slider-control__item{
  width: 15px;
  height: 15px;
  margin-bottom: 16px;
  background-color: $black;

}

.slider-control__item--link{
  background-color: $black;
  display: block;
  width: 100%;
  height: 100%;

  &:hover{
    background-color: $white;
  }
}


.slider-controlWrapper{
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 60px;
}

.slider-control-list{
  position: relative;
  height: 60px;
}

.slider-control-list__item{
  position: absolute;
  background-color: $black;
  width: 30px;
  height: 30px;

  &--right{
    bottom: 0;
    right: 0;
  }

  &--left .slider-control-list__item--link{
    background: $orange url('../assets/slides/left.png') no-repeat;

    &:hover{
      background-color: darken($orange, 20%);
    }
  }
  &--right .slider-control-list__item--link{
    background: $orange url('../assets/slides/right.png') no-repeat ;

    &:hover{
      background-color: darken($orange, 20%);
    }
  }

}

.slider-control-list__item--link{
  display: block;
  width: 100%;
  height: 100%;
}






