@media screen and (max-width: 1200px) { //hd
  html {
    font-size: 16px;
  }

  .container {
    max-width: rem(940px);
  }

}

@media screen and (max-width: 992px) { //laptop
  html {
    font-size: 15px;
  }

  .container {
    max-width: rem(750px);
  }

}

@media screen and (max-width: 768px) { //tablets
  html {
    font-size: 14px;
  }

  .container {
    max-width: rem(480px);
  }
}

@media screen and (max-width: 480px) { //phones
  html {
    font-size: 12px;
  }

  .container {
    width: 95%;
  }
}
